@charset "UTF-8";
.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.start__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start__header #icon {
  width: 20px;
  height: 20px;
  padding-top: 18px;
}

.start__header__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.start__header__logos--insta {
  padding-right: 18px;
}

.start__header__title img {
  height: 48px;
}

.start__header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.start__header__right--search {
  padding-right: 18px;
}

.start__nav__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.start__nav__list a {
  text-decoration: none;
  padding: 20px;
  margin: 0px;
}

.start__nav__list a:hover {
  color: #b1945c;
}

.start__nav__list--shop--dropDown {
  display: none;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 130px;
  font-weight: 100;
  height: 252px;
}

.start__nav__list--shop--dropDown--picture {
  background-image: url(https://cdn.shopify.com/s/files/1/0081/5654/5088/files/emre-gencer-264429-unsplash_11f204d0-9350-472d-ac3c-d9cd74faa587_3000x.jpg?v=1543972655);
  top: 0;
  left: 0;
  width: 20%;
  height: 99.2%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
}

.start__nav__list--shop--dropDown--picture #text-top {
  margin: 10px 0px;
  color: white;
}

.start__nav__list--shop--dropDown--picture #text-bottom {
  font-size: 0.76em;
  font-weight: 400;
  margin: 10px 0px;
  padding: 16px 16px;
  color: white;
  border: 1px solid white;
}

.start__nav__list--shop--dropDown #menu {
  border: 1px solid #f9f9f9;
  color: #545454;
  font-weight: 400;
  padding: 0px 76px;
}

.start__nav__list--shop:hover .nav__list--shop--dropDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f9f9f9;
}

.categories__box--img img {
  width: 100%;
  height: 318px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.categories__box--text h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 100;
}

@media only screen and (min-width: 750px) {
  .categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .categories__box--img img {
    border: 1px solid white;
    height: 33.5vw;
  }
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection__One {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection__One--text {
  background-color: #f7f9fa;
  min-height: 300px;
  padding: 50px;
}

.collection__One--text--type {
  margin-top: 30%;
}

.collection__One--text--type h2,
.collection__One--text--type p {
  text-align: center;
  color: #282c2e;
}

.collection__One--link {
  width: 100%;
  height: 24%;
  background-image: url(https://cdn.shopify.com/s/files/1/0081/5654/5088/files/bluedot_1512x.jpg?v=1543973451);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.collection__One--link--type {
  text-align: center;
  width: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection__One--link--type span,
.collection__One--link--type img {
  margin: 25px 0px;
  color: #545454;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collection__One--link--type span {
  padding: 15px 0px 15px 28px;
}

.collection__One--link--type img {
  padding: 15px 28px 15px 15px;
  width: 20px;
  height: 20px;
}

.collection__Two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection__Two—-text {
  background-color: #f7f9fa;
  min-height: 300px;
  padding: 50px;
}

.collection__Two—-text--type {
  margin-top: 30%;
}

.collection__Two—-text--type h2,
.collection__Two—-text--type p {
  text-align: center;
  color: #282c2e;
}

.collection__Two—-link {
  width: 100%;
  height: 24%;
  background-image: url(https://cdn.shopify.com/s/files/1/0081/5654/5088/files/blazer2_1512x.jpg?v=1543973460);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.collection__Two—-link--type {
  text-align: center;
  width: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection__Two—-link--type span {
  margin: 25px 0px;
  color: #545454;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 28px;
}

@media only screen and (min-width: 750px) {
  .collection__One {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .collection__One--text {
    width: 50%;
    padding: 50px 0px;
  }
  .collection__One--link {
    min-height: 400px;
    width: 50%;
  }
  .collection__One--link--type {
    padding-top: 42%;
  }
  .collection__Two {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .collection__Two—-text {
    width: 50%;
    padding: 50px 0px;
  }
  .collection__Two—-link {
    min-height: 400px;
    width: 50%;
  }
  .collection__Two—-link--type {
    padding-top: 42%;
  }
}

.our {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.our__store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 50%;
  height: 400px;
}

.our__store h5 {
  margin: 5px 0px 5px 0px;
  color: dimgrey;
  font-weight: 500;
  font-size: 15px;
}

.hero {
  background-image: url("https://cdn.shopify.com/s/files/1/0081/5654/5088/files/dots_1440x.jpg?v=1543973418%22%20alt=%22Hand%20Fabricated%22%20class=%22responsive-wide-image%22");
  height: 822px;
  background-position: right 50% bottom 52%;
}

.shop .ReactStickyHeader_root {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.shop .ReactStickyHeader_root * {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.shop #earing {
  padding-top: 190px;
}

.shop__box {
  font-family: "Century Gothic", sans-serif;
}

.shop__box--text {
  color: #545454;
  background-color: #f5eddc;
  padding: 40px;
  width: 100%;
}

.shop__box--text #view {
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #545454;
  width: 35%;
  text-align: center;
  padding: 10px 0px;
}

.shop__box--img img {
  height: 44vw;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .shop__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .shop__box #view {
    width: 40%;
  }
  .shop__box--text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .shop__box--img img {
    height: 34vw;
    width: 100%;
  }
}

.common-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.common-box .earings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
}

.common-box .earings__thumb {
  -webkit-transition: background-color 4s ease-in-out 1s;
  transition: background-color 4s ease-in-out 1s;
}

.common-box .earings__thumb img {
  width: 99%;
  height: 500px;
}

.common-box .earings__thumb:hover {
  background: #d2d4d6;
}

.common-box .earings__text {
  padding: 20px 0px;
}

.common-box .earings__text h5 {
  font-weight: 400;
  margin: 0px;
  padding: 0px 0px 10px 0px;
}

.newsNav {
  width: 100%;
  padding-top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsNav ul {
  list-style-type: none;
}

.newsNav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsNav--list a {
  color: #545454;
  text-decoration: none;
  margin: 0px 10px;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.news__one {
  width: 31%;
  margin: 10px;
}

.news__one img {
  width: 100%;
}

.news__one--text {
  padding: 10px;
}

.news__one--text--meta {
  font-weight: 100;
}

.news__one--text--excerpt {
  display: block;
  text-overflow: ellipsis;
  max-width: 100%;
  height: 55px;
  margin: 0 auto;
  font-size: 1.15em;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.contact {
  font-family: "Century Gothic", sans-serif;
  margin-top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact h3 {
  font-size: 30px;
  font-weight: 600;
}

.contact img {
  width: 42%;
  margin: 10px auto;
  height: 197px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact h5 {
  font-size: 20px;
  font-weight: 400;
}

.contact__form {
  max-width: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.17em;
}

.contact__form input {
  border: 1px solid #efeeec;
  font-size: 0.95em;
  border-radius: 0px;
  width: 34vw;
  padding: 9px 16px;
  margin: 7px 0;
  background: rgba(255, 255, 255, 0);
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.contact__form--text {
  border: 1px solid #efeeec;
  font-size: 0.95em;
  border-radius: 0px;
  width: 34vw;
  padding: 9px 16px;
  margin: 7px 0;
  background: rgba(255, 255, 255, 0);
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.contact__form #optional {
  margin: 10px 0px;
}

.contact__form--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__form--checkbox label {
  margin: 16px 0px;
  text-align: left;
}

.contact__form--checkbox label #subscription {
  width: auto;
  margin: 4px 10px 4px 0px;
}

.contact__form--fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  padding: 0px;
}

.contact__form--fieldset label {
  margin: 10px 0px 23px 0px;
}

.contact__form--fieldset select {
  padding: 9px 28px 9px 10px;
  margin: 16px 0px;
  border-radius: 0px;
  border: 1px solid #efeeec;
  font-size: 0.95em;
  width: 32vw;
  background: rgba(255, 255, 255, 0);
  font-weight: 400;
  font-style: normal;
}

.contact__form--submit {
  margin: 17px 0px 32px 0px;
}

.contact__form--submit #btn {
  line-height: 1.5;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  display: inline-block;
  font-size: 1.17em;
  width: 34vw;
  height: 48px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 0;
  border-radius: 0px;
  font-weight: 400;
  cursor: pointer;
  background: #b1945c;
  color: #fff;
}

.footer {
  background-position-x: right;
  background-position-y: center;
  background-image: url(https://cdn.shopify.com/s/files/1/0081/5654/5088/files/news-tall_3000x.jpg?v=1556134325);
  background-size: cover;
  color: #545454;
  padding: 40px 0px;
  margin-top: 309px;
}

.footer__myfooter--title {
  margin: 0px 16px 24px 16px;
}

.footer__myfooter--images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px;
}

.footer__myfooter--images img {
  height: 19px;
}

.footer__text {
  margin: 32px 16px 24px 16px;
  font-size: 0.9em;
}

.footer__text a {
  text-decoration: none;
  color: #545454;
}

.footer__text #thick {
  font-family: myDemi;
  margin: 1em 0em;
}

.footer__text #slim {
  margin: 1em 0em;
}

.footer .copyright {
  margin: 32px 16px 24px 12px;
  width: 67%;
  font-size: 0.9em;
}

@media screen and (max-width: 767px) {
  .footer__myfooter--logo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 0px 0px 40px 0px;
  }
  .footer__myfooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 24px;
    margin-right: 24px;
  }
  .footer__myfooter--title {
    display: none;
  }
  .footer__myfooter--images {
    padding-right: 81px;
  }
  .footer__myfooter--images img {
    padding: 22px 0px 0px 16px;
    height: 24px;
  }
  .footer__myfooter--logo img {
    justify-self: flex-end;
    height: 24px;
    margin-top: 0px;
    padding: 20px 0px 0px 0px;
    margin-left: auto;
  }
  .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 24px;
  }
  .footer__text--left {
    margin-right: 89px;
    margin-left: 8px;
  }
  .footer .copyright {
    margin: 24px;
    width: 69%;
  }
}

@media screen and (min-width: 1440px) {
  .footer__myfooter {
    margin: 0px 160px;
  }
  .footer__myfooter img {
    margin-left: 16px;
  }
  .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 53%;
    margin: 32px 180px 24px 180px;
  }
  .footer__text #thick {
    margin: 16px 0px;
  }
  .footer__text #slim {
    margin: 16px 0px 16px 0px;
  }
  .footer .copyright {
    margin: 24px 0px 0px 180px;
    width: 69%;
  }
}

.app {
  font-family: "Century Gothic", sans-serif;
  color: #545454;
}

.app .ReactStickyHeader_root {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.app .ReactStickyHeader_root * {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
/*# sourceMappingURL=App.css.map */